@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap%27');
*{     
    font-family: 'Roboto', sans-serif;
}
.header-container{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-bottom: #FFB013 2px solid;
}
.header-box{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.header-container{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-bottom: #FFB013 2px solid;
}
.header-box{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#img-menu {
    width: 35%;
}
#meu-perfil {
    font-size: 0.8rem;
    color: #FFB013;
    font-weight: bold;
    margin: 4px 4px;
}
#meu-perfil:hover {
    color: black;
}
#perfil {
    text-decoration: none;
}