@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap%27');
*{     
    font-family: 'Roboto', sans-serif;
}
.header-container{
    background-color: #ffb01357;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-bottom: #ffb013c5 1px solid;
    box-shadow: 10px 10px 5px #6b69694f;
}
.header-box{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
/* .header-container{
    background-color: #ffb01357;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-bottom: #ffb013c5 1px solid;
    
    box-shadow: 10px 10px 5px #6b69694f;
}
.header-box{
    width: 100vw;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
#img-menu {
    width: 35%;
    color: #000000;
}
#meu-perfil {
    font-size: 0.8rem;
    color: #000000;
    font-weight: bold;
    margin: 4px 4px;
    opacity: 100%;
    transition: 1s;
}
#meu-perfil:hover {
    color: black;
    font-size: 0.9rem;
}
#perfil {
    text-decoration: none;
}
.success-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #dff0d8;
    color: #3c763d;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    z-index: 1000;
    display: none;
} 

.header-links a{
    text-decoration: none;
    color: inherit;
}

.header-links a:hover{
    color: #000000;
    text-decoration: none;
}