html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.global {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container{
    margin-right: 10px;
    margin-left: 20px;
}

/*  MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search-box{
    margin-top: 30px;
}
#img-search{
    width: 30px;
    cursor: pointer;
}
#btnPesquisa {
    border: none;
    background: none;
}
.input-search{
    width: 350px;
    border: 3px solid #E8A20C;
    border-radius: 10px;
    padding: 5px 0px 5px 10px;
   
}

/* INST FAV */
.card{
    width: 200px !important;
    margin-right: 30px;
}
.card-img-top{
    opacity: 0.6;
}
.card-text{
    
    font-size: 1.3rem;
    text-align: center;
}
.card-body{
    border: 1px solid black;
    border-top: none;

}
.last-card{
    margin-right: 0;
}
.cards-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #E8A20C;
    padding: 25px;
    border-radius: 20px;
    width: 715px;
}
.title-box{
    margin: 50px 500px 20px 0px;
   
}
.title-box h2{
    font-size: 1.5rem;
}

.img-card {
    height: 150px;
}

.card-motorista-width {
    width: 35%;
}
.descricao-texto {
    font-size: 1rem;
    line-height: 1.5;
    color: #333; 
    margin-bottom: 1rem;
}
#card-motorista-width {
    width: 35%;
}
.img-carrossel {
    width: 500px;
    height: 300px;
}
.nome-universidade-carrossel {
    color: purple;
    font-family: sans-serif;
    font-weight: bold;
}