html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.global {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.container{
    margin-right: 10px;
    margin-left: 20px;
}

/* MAIN */

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.search-box{
    margin-top: 30px;
}
#img-search{
    width: 30px;
    cursor: pointer;
}
#btnPesquisa {
    border: none;
    background: none;
}
.input-search{
    width: 350px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px 0px 5px 10px;
   
}

/* CARDS */
.card-container {
    width: 35%;
}

.card-search{
    display: flex;
    align-items: center;
    margin-top: 100px;
    border: 1px solid #aaa9a8;
    box-shadow: 10px 10px 5px #aaa9a8;
    border-radius: 10px;
    /* min-width: 43%; */
}
.perfil-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.perfil-card span {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.info-card {
    width: 100%;
    border-left: 1px solid #a7a7a7;

}

.info-van-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000000;
    padding: 8px;
}
.zona-card{
    align-items: center;
    padding: 8px;
    width: 100%;
}
.zona-card-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 50px;
}
#title-zona-card{
    font-weight: 1rem;
    font-weight: bold;
}
.button-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
#more-info-card{
    width: 200px;
    background-color: #faf9f7;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    transition: 1s;
}

#more-info-card:hover{
    width: 200px;
    background-color: #000000;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
}


