html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.global {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container{
    margin: auto;
}
/* MAIN */
.container-login{
    display: flex;
    justify-content: center;
}
.box-login{
    height: 520px;
    width: 700px;
    background-color: #FFB013;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.box-logo-login{
    height: 520px;
    width: 700px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.logo-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.input-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 30px;
}
.btn-login{
    display: flex;
    justify-content: center;
}
h2{
    color:#825A09;
    font-weight: bold;
}
input[type=text], input[type=password] {
    width: 50%;
    border: none;
    padding: 4px 10px 4px 10px;
    margin-top: 2%;
    border-radius: 30px;
}

.login-title{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#btn-login{
    background-color: #825A09;
    color: #fff;
    border: none;
    width: 200px;
    padding: 2px 0 5px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: medium;
}

a{
    color: #825A09 !important;
    text-decoration: none !important;
}

#msgErro {
    color: red;
}


